/****************************** contact page ************************************************/


article{
	float: left;	
}

article#contactInfo{
	width: 350px;
	height: 400px;
	margin-left: 10px;
	margin-top: 20px;	
}

article#contactInfo td{
	padding: 5px;	
}

th.headmiddle{
	padding-top: 20px;
}

article#contactForm{
	position: relative;
	width: 400px;
	height: 300px;	
	left: 100px;
	top: -10px;
	display: block;	
	border-radius:25px;	
}

form > p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

form input:not([type=image]){
	width: 240px;  
}

form input:not([type=image]), form textarea {	
	color: #5a5854;
	background-color: #f2f2f2;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: 8px 9px;
	display: block;
}

input:not([type=image]):focus, input:not([type=image]):hover, textarea:hover, textarea:focus {
	border: solid 2px #CFB53B;
}

article#contactForm th {
	text-align: left;
}

textarea:focus {
	border: solid 2px #CFB53B;
}

fieldset {
	width: 350px;
	border: 1px solid #FFFF99;
	border-radius: 10px;
	padding: 20px;
	margin-top: 30px;
}

legend {
	background-color: #B18904;;
	border: 1px solid #FFFF99;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: left;
	text-transform: uppercase;
	color: black;
}








article#quotes{
	clear: left;
	position: relative;
	top: 100px;
	width: 350px;
	height: 200px;
	text-shadow: 5px 5px 5px #300000;
}

p.author{
	font-family: Ariel;
	font-size: small;
	margin-left: 10px;
}

p.quote{
	font-family: Ariel;
	font-size: large;
	font-weight: bolder;
	margin-left: 10px;
}

article#imap{
	margin-left: 100px;
	margin-top: 80px;
	width: 410px;
	height: 350px;	
}

article#imap > iframe {
	box-shadow: 10px 10px 5px #300000;
	width: 400px; 
	height: 300px; 
}

.bolder{
	font-weight: bolder;
}


div#dancePupils{
	margin-left: auto;
	margin-right: auto;	
	margin-top: 200px;
	width: 700px;
	height: 400px;
	display: none;
}


